html{
  margin: 50px;
  background: black;
  font-family: 'Lato', sans-serif;
}

.page{
 background:#5A693E;;
}

a{
  color:#693A29;
  text-decoration: none;
  display: block;
  height: 50px;
font-family: 'Norican', cursive;
  font-size: 3em;
}

a:hover{
  color:black;
 /* border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black; */

}

.active{
  color:black;
}

figure{
  width:20%;
}

li{
  list-style-type: none;
}

/* ----------header------- */

.header{
  background: #345936;
  display:flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
  width:300px;
  height:auto;
  display:flex;
  justify-content: flex-start;
}

.links{
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  background: #C6C791;
  padding:10px;
  width: 50%;
margin: auto;

}

/* ----------body------- */

.Me, img{
  max-width:100%;
  height: auto;
}

.about, .FunFacts{
  text-align: center;
  width: 80%;
}

.about h1{
  font-size: 4em;
}

.about h3{
  font-size: 2em;
}

.FunFacts{
  font-size: 2em;
}
.resume{
  width: 24%;
  height: auto;
}

main{
  background: #5A693E;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.pdf{
  margin: auto;
  color:#C6C791;
}

/* ----------images------- */
article{
  display: flex;
    flex-wrap: wrap-reverse
}

.BWR1, .BWR2, .BWR3{
  flex:25%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: auto;
  text-align: center;
  color:white;
  background: #5A693E;
  font-size: 1.5em;
}

/* ----------footer------- */

.footer{
  background: #693a29;
  height: 100px;
  display:flex;
  justify-content:space-around;
  color: white;
}

.email{
  display: flex;
  justify-content: flex-start;
}

.Phone{
  display: flex;
  justify-content: flex-end;
}


@media (max-width:480px) {

.logo{
  display: none;
  width:auto;
  height: auto;
}

.links{
  justify-content:space-around;
  background: #C6C791;
  padding:10px;
  width: 100%;
margin: auto;
}

a{
  color:white;
  text-decoration: none;
  display: block;
  font-size: 1.5em;
}

/* ----------body------- */

main{
  background: #5A693E;
  padding: 20px;
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  align-items: center;
}

.Me, img{
  max-width:100%;
  height: auto;
    align-items: center;
}

figure{
  width:100%;
}

.resume{
  width:100%;
  height: auto;
}

.pdf{
  margin: auto;
  padding: 20px;
}

.BW{
background: #C6C791;
color:white;
display: flex;
align-self: auto;
padding: 10px;
flex-wrap: wrap;
flex-direction:column;
}


}
